body {
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
    background-color: rgb(36, 1, 70);
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background-image: url('/images/web.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    animation: rotateAndZoomBackground 20s linear infinite;
}

@keyframes rotateAndZoomBackground {
    0% {
        transform: rotate(0deg) scale(2.0);
    }
    50% {
        transform: rotate(180deg) scale(3.5);
    }
    100% {
        transform: rotate(360deg) scale(2.0);
    }
}

#title {
    position: relative;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(240, 240, 240);
}
