body {
    margin: 0;
    padding: 0;
    position: relative;
    overflow: hidden;
    background-color: rgb(16, 0, 32);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background-image: url('/images/web.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    animation: rotateAndZoomBackground 20s linear infinite;
}

@keyframes rotateAndZoomBackground {
    0% {
        transform: rotate(0deg) scale(2.0);
    }
    50% {
        transform: rotate(180deg) scale(3.5);
    }
    100% {
        transform: rotate(360deg) scale(2.0);
    }
}

#title {
    font-family: 'Lato', sans-serif;
    color: rgb(240, 240, 240);
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20vh;
    height: 25vh;
}

h1 {
    font-size: 3rem;
    letter-spacing: 1px;
    font-weight: bolder;
    text-align: center;
    margin: 0;
}

h2 {
    letter-spacing: 1.5px;
    text-align: center;
    margin: 0;
}

#social {
    text-align: center;
    margin-top: auto;
    padding: 20px;
    z-index: 2;
}

#social a {
    margin: 10px;
    display: inline-block;
    text-decoration: none;
    color: #333;
}